<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.test.mapper.TestMapper">


    <!--测试count操作-->
    <select id="testCount" resultType="java.lang.Integer" >
        SELECT count(1) FROM test6 t
    </select>

		

</mapper>