<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.logs.mapper.LogsMapper">


    <!--获取API日志详情-->
    <select id="getLogsDetail" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT * FROM osc_api_log t where id = #{logid}
    </select>

		

</mapper>